a.activeClicked {
    background-color: #EED236 !important;
}

.activeClickedFile {
    background-color: aliceblue !important;
}

.y-color {
    color: #EED236;
}

.fRhOkl {
    padding-top: 0px !important;
}

.jAaeFT {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.hQSxZz {
    background: #EED236;
    color: #1A1A19;
    margin-left: unset !important;
    margin-top: unset !important;
    margin-bottom: 2px !important;
    margin-right: unset !important;
    padding: 8px;
}

.pd-menu {
    /* padding-left: 1rem; */
}

.btn-file {
    /* margin-left: 3.5rem!important; */
    border-radius: 0px;
    width: 5rem;
}

.logo {
    padding-left: 5rem;
}

.head-div {
    padding: 14px 28px !important;
}

.head-div.toggled {
    padding: 24px 28px !important;
}