
.Mui-selected{
    background-color: #EED236 !important;
    border-radius: unset !important;
}
.MuiPaginationItem-circular:hover{
    /* background-color: #EED236 !important; */
    border-radius: unset !important;
}