
::-webkit-scrollbar {
    width:5px;
    height:5px;
  }
  
::-webkit-scrollbar-thumb {
border-radius:5px;
background-color: #ccc;
}

.fn-16{
    font-size: 1rem;
}

.fn-18{
    font-size: 1.125rem;
}

.fn-20{
    font-size: 1.25rem;
}

.fn-22{
    font-size: 1.375rem;
}

.fn-24{
    font-size: 1.5rem;
}

.fn-26{
    font-size: 1.625rem;
}

.fn-28{
    font-size: 1.75rem;
}

.fn-30{
    font-size: 1.875rem;
}

.fn-32{
    font-size: 2rem;
}

.text-yellow{
    color: #EED236;
}

.center{
    text-align: center;
}

.mb-none{
    margin-bottom: unset;
}